@{
    var returnUrl = Url.Action("Index", "Admin");
}


@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/wide/js/jquery.min.js"></script>
<script src="~/themes/wide/js/popper.min.js"></script>
<script src="~/themes/wide/js/bootstrap.min.js"></script>
<script src="~/themes/wide/js/prism.js"></script>
<script src="~/themes/wide/js/blog.js" asp-append-version="true"></script>




